{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Professional local guides, hosts, and assistants are available in all 
    EU languages for historical and cultural tours. Your memorable vacation
    is just a click away. We look forward to meeting you.
    </p>
    <h1>Reliable services</h1>
    <p>Being a reliable and affordable tour operator in Croatia we gained a great reputation in this business field.</p>
    <h1>Great support</h1>
    <p>Whether you want a well-arranged tailor tour or prompt airport pick up service in Croatia, 
       we are always available to provide the best solution based on your requirement and budget.</p>
{% endblock content %}